# Temel
numpy
pandas
matplotlib
tqdm
scikit-learn
pyyaml

# Görüntü işleme
opencv-python-headless
albumentations

# PyTorch ekosistemi
torch
torchvision
segmentation-models-pytorch

# Logging (opsiyonel)
tensorboard
wandb


jupyter
streamlit==1.36.0

openai>=1.0.0

python-dotenv
